<?xml version="1.0" encoding="UTF-8"?>
<!--
        Sample web.config for ASP.NET 4.5 Web Application
        -->
<configuration>
   <configSections>
      <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
   </configSections>
   <system.web>
      <authorization>
         <deny users="?" />
      </authorization>
      <authentication mode="None" />
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime requestValidationMode="4.5" targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <pages controlRenderingCompatibilityVersion="4.5" />
      <machineKey compatibilityMode="Framework45" />
   </system.web>
   <system.webServer>
      <modules>
         <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
         <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      </modules>
   </system.webServer>
   <system.identityModel>
      <identityConfiguration>
         <audienceUris>
            <add value=" http://localhost:57088/" />
         </audienceUris>
         <certificateValidation certificateValidationMode="None" />
         <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <trustedIssuers>
               <add thumbprint="2aaf036edc8f2d9fbf88e466c3f0febcdb38205c" name="Okta" />
            </trustedIssuers>
         </issuerNameRegistry>
      </identityConfiguration>
   </system.identityModel>
   <system.identityModel.services>
      <federationConfiguration>
         <!-- The requireHttps="false" setting is insecure and used for testing. This setting should not be used in production deployments. -->
         <wsFederation passiveRedirectEnabled="true" issuer="https://jllpoc.oktapreview.com/app/template_wsfed/sso/wsfed/passive" realm="urn:okta:app:exk6232c8uNdOzZUk0h7" requireHttps="false" />
         <!-- The  requireSsl="false" setting is insecure and used for testing. This setting should not be used in production deployments. -->
         <cookieHandler requireSsl="false" />
      </federationConfiguration>
   </system.identityModel.services>
</configuration>